- var webpack_href = "https://webpack.js.org"
- var sass_href = "https://sass-lang.com"
- var pug_href = "https://pugjs.org/api/getting-started.html"
- var font_href = "https://int10h.org/oldschool-pc-fonts/"
- var github_pages_href = "https://pages.github.com"
footer
    .faint.
        Built using
        #[b #[a(href=webpack_href target="_blank") Webpack]]
        &
        #[b #[a(href=sass_href target="_blank") Sass]]
        &
        #[b #[a(href=pug_href target="_blank") Pug]]
    .faint Font: #[b #[a(href=font_href target="_blank") PxPlus IBM VGA8]]
    .faint Host: #[b #[a(href=github_pages_href target="_blank") Github Pages]]
    br
    button.btn.small#icantread
    .faint Contact: #[b mathiassenmarcus@gmail.com]
